<html>
    <head>
        {% if title %}
        <title>{{title}}</title>
        {% else %}
        <title>Start</title>
        {% endif %}
        <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    </head>
    <body>
        <nav class="navbar navbar-default"></nav>
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class=container-fluid>
                <ul class="nav navbar-nav">
                    <li><a href="{{ url_for('index') }}">{{ notations.start }}</a></li>
                    <li><a href="{{ url_for('past') }}">{{ notations.past }}</a></li>
                    {% if 'datafile' in session.keys() %}
                    <li><a href="{{ url_for('count') }}">{{ notations.count }}</a></li>
                    <li><a href="{{ url_for('download') }}">{{ notations.xlsx }}</a></li>
                    {% endif %}
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="{{ url_for('language') }}">{{ notations.language }}</a></li>
                </ul>
            </div>
        </nav>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="container">
            {% for message in messages%}
                    <div class="alert alert-info alert-dismissible">
                        <a class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        {{ message }}
                    </div>
            {% endfor %}
            </div>
        {% endif %}
        {% endwith %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
        {% block content%}{% endblock %}
    </body>
</html>
